<context id="SupplyChainModel"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
	<projection type="continuous space" id="continuous space"></projection>
	<projection type="grid" id="grid"></projection>
	<projection type="network" id="sc network"></projection>
	<projection type="network" id="sc network reversed"></projection>
</context>
